<p>Here are some people to watch on Twitch:</p><br>
<ul>
<li>firedragon764 (<a href="http://www.twitch.tv/firedragon764">Twitch link</a>) - A cool guy who streams Super Mario Sunshine.</li>
<li>QaziTV (<a href="http://www.twitch.tv/qazitv">Twitch link</a>) - A nice guy who works on his game Skyhook and draws stuff.</li>
<li>360chrism (<a href="http://www.twitch.tv/360chrism">Twitch link</a>) - A guy who does stuff. <img src="http://static-cdn.jtvnw.net/emoticons/v1/25/1.0"></li>
<li>BobRoss (<a href="http://www.twitch.tv/bobross">Twitch link</a>) - Twitch has mini-marathons of Bob Ross's show The Joy of Painting, and does a full marathon every year on his birthday.</li>
</ul>
